*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}html,body{
    height: 100%;
    width: 100%;
}.main{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(105, 105, 222);
}.content{
    height: 70%;
    width: 50%;
    background-color: #897d7d;
    margin: 5% 20%;
    padding: 5% 10%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px WHITE;

}h1{
    font-size: 40px;
    margin-left: 10%;
    margin-bottom: 5%;
}input{
    margin-bottom: 5%;
    margin-left: 10%;
    font-size: 22px;
}button{
    background-color: brown;
    width: 30%;
    font-size: 20px;
    height: 35%;
    color: aliceblue;
    border: white;
    border-radius: 15px;
    margin-left: 25%;
  
}